/* You can add global styles to this file, and also import other style files */
body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  width: 100%;
  max-width: 1366px;
  height: auto;
  margin: 0 auto;
}

.main-content {
  padding: 2rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
  overflow: hidden;
}
